# .gitignore básico para Django
venv/
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*.env
db.sqlite3
media/
staticfiles/
.idea/
.vscode/
.DS_Store
jobcard_backups/
.header_temp.html
.jobcard_temp.html
jobcards/migrations
.web.config
.wfastcgi.log
.settings.py
static/barcodes