{% load static %}
<nav class="navbar navbar-expand-md fixed-top py-3" style="background: rgba(33,37,41,0);color: rgb(52,52,52);">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
            <img src="{% static 'assets/img/utc.png' %}" alt="Logo" style="height: 35px;"/>
            <span style="color: #fff; letter-spacing: 3px; font-family: Montserrat, sans-serif; font-size: 16px; padding-left: 8px;">
                <!-- Seu texto, se quiser -->
            </span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
            <span class="visually-hidden">Toggle navigation</span>
            <i class="fas fa-bars" style="height: 10px;color: rgba(137,137,137,0.93);"></i>
        </button>
        <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto"></ul>
            <a class="btn btn-dark text-center" role="button" href="{% url 'login' %}"
               style="color: black; background: #fff; font-family: Montserrat, sans-serif;
                      border-style: none; font-size: 14px; letter-spacing: 0px; border-radius: 10px;">
                <i class="fas fa-user-circle" style="color: #747474; font-size: 14px"></i> &nbsp; Sign in
            </a>
        </div>
    </div>
</nav>
